Part_1/XFormsPushNotifications/Droid/bin
Part_1/XFormsPushNotifications/Droid/obj
Part_1/XFormsPushNotifications/iOS/bin
Part_1/XFormsPushNotifications/iOS/obj
Part_1/XFormsPushNotifications/packages
Part_1/XFormsPushNotifications/XFormsPushNotifications/bin
Part_1/XFormsPushNotifications/XFormsPushNotifications/obj
